:root {
  --primary: #fe96e1;
  --secondary: #f3f3f3;
  --tertiary: #1b1b1b;
  --quaternary: #595563;
  --hovering: #198247;
}

html, body {
  min-height: 100%;
  overflow: hidden;
  cursor:url("/cursor.png"), auto;
}

body {
  background: var(--quaternary) url("/images/background.jpg") left top/cover no-repeat;
}

@media screen and (max-width: 768px) {
  body {
    background-image: url("/images/backgroundSmall.jpg");
  }
}

.main { /* Overflow Doesn't Work on Mobiles */
  /* position: relative; */
  overflow: hidden;
}

.borderOne, .borderTwo, .borderThree, .borderFour {
  position: absolute;
  z-index: -2;
  background-color: black;
  rotate: 0deg;
  transition: rotate 0.5s;
}

.borderOne, .borderTwo {
  width: 125vw;
  height: 25vh;
}

.borderThree, .borderFour {
  width: 25vw;
  height: 125vh;
}

.borderOne {
  top: -12.5vh;
  left: 0;
}

.borderTwo {
  bottom: -12.5vh;
  right: 0;
}

.borderThree {
  top: 0;
  left: -12.5vw;
}

.borderFour {
  bottom: 0;
  right: -12.5vw;
}

.topNames {
  padding: 2em 2em;
  display: flex;
  justify-self: space-between;
}

.leftName {
  margin: 0;
  font-size: 2.5rem;
  color: var(--secondary);
  text-decoration: underline;
  text-shadow: -2px 0 var(--primary), 0 2px var(--primary), 2px 0 var(--primary), 0 -2px var(--primary);
  transform: rotate(-10deg);
}

.rightName {
  margin: 0;
  margin-left: auto;
  font-size: 4rem;
  color: var(--primary);
  text-align: right;
  text-shadow: -8px 6px 2px var(--tertiary);
}

@media screen and (max-width: 768px) {
  .leftName, .rightName {
    padding-top: 1em;
    font-size: 1rem;
  }
}

.textScar {
  text-shadow: 1.5px 1.5px 1px var(--tertiary);
}

.greenHover {
  position: relative;
}

.greenHover::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--hovering);
}

.greenHover:hover::before {
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  top: -10px;
  left: -10px;
}
