.main {
  background-color: var(--primary);
  color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 90vw;
}

.textContainerRotated {
  transform: rotate(-3deg) translateX(8px);
}

.greetings {
  font-size: 2.5rem;
}

.fromTitle {
  font-size: 5rem;
  transform: translateX(2.5rem);
}

.fromTitle p {
  margin: 0;
  padding: 0;
}
