.main {
  color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 90vw;
}

.main canvas {
  animation: 3s ease-out 0s 1 transparentToOpaque;
}

@keyframes transparentToOpaque {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.textContainer {
  z-index: 2;
  user-select: none;
}

.textContainerRotated {
  transform: rotate(-3deg) translateX(8px);
}

.greetings {
  font-size: 2.5vw;
  text-shadow: 1px 1px var(--tertiary);
}

.fromTitle {
  font-size: 5vw;
  text-shadow: -2px 0 var(--tertiary), 0 2px var(--tertiary), 2px 0 var(--tertiary), 0 -2px var(--tertiary);
  transform: translateX(2.5vw);
}

@media screen and (max-width: 640px) {
  .greetings {
    font-size: 2.5vh;
  }

  .fromTitle {
    font-size: 5vh;
    transform: translateX(2.5vh);
  }

  .textContainer {
    transform: rotate(90deg);
  }
}

.closeTabText {
  font-size: x-small;
  animation: closeTabTextAnimation 10s linear;
}

@keyframes closeTabTextAnimation {
  0% {
    color: var(--tertiary);
  }
  100% {
    color: var(--quaternary);
  }
}

.qImgAttr {
  z-index: 2;
  position: absolute;
  right: 10vw;
  font-size: 0.65rem;
  transform: rotate(90deg);
  text-shadow: 1px 1px var(--tertiary);
}

.qImgAttr a {
  color: var(--secondary);
  &:hover {
    text-decoration: none;
  }
}

@media screen and (max-width: 1280px) {
  .qImgAttr {
    font-size: 0.4rem;
    font-style: italic;
    transform: none;
    right: auto;
    bottom: 10vh;
  }
}

.qImgCanvas {
  z-index: 1;
  position: absolute;
}
